streamlit==1.30.0
langchain==0.1.5
langchain-community==0.0.17
huggingface-hub==0.20.3
pypdf==3.17.4
faiss-cpu==1.7.4
sentence-transformers==2.2.2
rank_bm25==0.2.2
PyMuPDF==1.23.22
accelerate==0.26.1
bitsandbytes==0.42.0
transformers==4.37.2
torch==2.1.0
torchvision==0.16.0